<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>TutorLabs</title>
</head>
<body>
    <nav>
        <div class="logos">
            <img class="logo" src="../Assest/Rectangle 24.png" alt="" />
            <div class="brand">
                <img src="../Assest/O R K I N S T A.png" alt="">
                <img src="../Assest/WE BUILD ENTREPRENEURS.png" alt="" />
            </div>
        </div>
        <div class="label">
            <ul>
                <li><a>Home</a></li>
                <li><a>My Classes</a></li>
                <li><a>Reports</a></li>
                <li><a>Contact</a></li>
                <li><img src="../Assest/generic-avatar 3.png" alt="" /></li>
            </ul>
        </div>
    </nav>
    <div class="search flex">
        <h4>Get Your Work Done!!</h4>
        <div class="input">
            <input type="text" placeholder="Search for Experts.." />
            <input type="button" value="Search" />
            <input type="button" value="Filter" />
        </div>
    </div>
    <div class="main-container">
        <div class="flex">
            <div class="left-side">
                <h5 class="blue">My Feed</h5>
                <h5 class="blue">Recommended</h5>
                <div class="center">
                    <h5 class="blue">Skills I Need</h5>
                    <ul>
                        <li>Website Designing</li>
                        <li>Web & Mobile Design</li>
                        <li>Fronted Development </li>
                        <li>Machine Learning</li>
                        <li>Graphics & Design</li>
                        <li>Video Production</li>
                    </ul>
                </div>
            </div>
            <div class="right-side">
                <h6 class="myFeed">My Feeds</h6>
                <div class="flex">
                    <div class="list-1">
                        <div class="flex">
                            <div class="img">
                                <img src="../Assest/profile.jpg" alt="">
                            </div>
                            <div class="rig">
                                <h6>Jhon Dawson</h6>
                                <p>Java Developer</p>
                                <div class="flex">
                                    <h6>Skills:</h6>
                                    <span><ul class="flex tags">
                                        <li>Core Java</li>
                                        <li>Angular.js</li>
                                    </ul></span>
                                </div>
                                <p class="bio">Studied from Harvard university</p>
                                <p>Certifications earned: Google certification, Microsoft</p>
                                <p>Experience: Worked as a full time Tutor</p>
                                <div class="flex">
                                    <h6 class="rate">Rating</h6>
                                    <div class="stars">
                                        <img src="../Assest/Vector.svg" alt="">
                                        <img src="../Assest/Vector.svg" alt="">
                                        <img src="../Assest/Vector.svg" alt="">
                                        <img src="../Assest/Vector.svg" alt="">
                                        <img src="../Assest/Vector.svg" alt="">
                                    </div>
                                    <div class="flex bottom">
                                        <h6>$100</h6><span>Earned</span>
                                        <p>Australia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <ul>
            <li>Terms and Conditions</li>
            <li>|</li>
            <li>Privacy Policy</li>
            <li>|</li>
            <li>Help</li>
            <li>|</li>
            <li>TutorLabs Licenses</li>
            <li>|</li>
            <li>Partners</li>
            <li>|</li>
            <li class="flex">
                <label for="Lang">Language</label>
                <h4 id="Lang">English</h4>
            </li>
        </ul>
    </div>
</body>
</html>