<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>TutorLabs</title>
</head>
<body>
    <nav>
        <div class="logos">
            <img class="logo" src="../Assest/Rectangle 24.png" alt="" />
            <div class="brand">
                <img src="../Assest/O R K I N S T A.png" alt="">
                <img src="../Assest/WE BUILD ENTREPRENEURS.png" alt="" />
            </div>
        </div>
        <div class="label">
            <ul>
                <li><a>Home</a></li>
                <li><a>My Classes</a></li>
                <li><a>Reports</a></li>
                <li><a>Contact</a></li>
                <li><img src="../Assest/generic-avatar 3.png" alt="" /></li>
            </ul>
        </div>
    </nav>
    <div class="main-container">
        <div class="left-side">
            <img class="uploadprofile" src="../Assest/profile.jpg" alt="">
            <div class="center details">
                <div class="flex">
                    <div>
                        <h5>$100k</h5>
                        <p>Total Earnings</p>
                    </div>
                    <div>
                        <h5>5</h5>
                        <p>Total Classes</p>
                    </div>
                </div>
                <div class="available">
                    <h5>Availabilty</h5>
                    <p>More than 30hrs/week</p>
                </div>
                <div class="language">
                    <h5>Languages</h5>
                    <p>English, Hindi</p>
                </div>
                <div class="verification">
                    <h5>Verification</h5>
                    <p>Phone verified</p>
                </div>
                <div class="education">
                    <h5>Education</h5>
                    <p>Eastern Michigam University <br>
                    Bachalor in Science in Information Technology, COumputer Science </p>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="flex">
                <div class="right">
                    <div class="blue Feed">
                        <h4><strong>PROFILE</strong></h4>
                    </div>
                    <div class="brief">
                        <h5 class="name">Muskaan</h5>
                        <p class="location">Leesburg, United States,- 5.52am Local time</p>
                        <p>Senior fulll stack developer | Solution Architect | Specializes in Full Stack Development</p>
                    </div>
                    <div class="details">
                        <p class="bio">
                            MEAN STACK APPLICATION DEVELOPMENT | JAVA/SPRING/HIBERNATE APPLICATION DEVELOPMENT | ANGULAR7 | FRONT END DEVELOPER | BACKEND DEVELOPER | FULL STACK DEVELOPER | WORDPRESS-WOOCOMMERCE | CUSTOM WEB & MOBILE APPLICATIONS DEVELOPMENT
                            <br /> <br />
                            I do have 20 years of experience in the Software and IT industries including a long track record of building successful Organizations across the world.
                            <br /> <br />
                            I have worked for Adobe.com with an amenable elite of Google experts and have given them top-notch quality deliverables...More   
                        </p>
                    </div>
                    <div class="skills">
                        <h5>Skills</h5>
                        <ul class="tags">
                            <li>HTML5</li>
                            <li>CSS</li>
                            <li>Core Java</li>
                        </ul>
                    </div>
                    <div class="certification">
                        <h5>Certifications</h5>
                        <img src="../Assest/Rectangle 92.png" alt="" />
                        <img src="../Assest/Rectangle 92.png" alt="" /> <br />
                        <a href="#" class="load">Load More..</a>
                    </div>
                    <div class="portfolio">
                        <h5>Portfolio Link</h5>
                        <img src="../Assest/Rectangle 92.png" alt="" />
                        <img src="../Assest/Rectangle 92.png" alt="" /> <br />
                        <a href="#" class="load">Load More..</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <ul>
            <li>Terms and Conditions</li>
            <li>|</li>
            <li>Privacy Policy</li>
            <li>|</li>
            <li>Help</li>
            <li>|</li>
            <li>TutorLabs Licenses</li>
            <li>|</li>
            <li>Partners</li>
            <li>|</li>
            <li class="flex">
                <label for="Lang">Language</label>
                <h4 id="Lang">English</h4>
            </li>
        </ul>
    </div>
</body>
</html>

