{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="{%static 'css/otp.css' %}">
    <title>Vorkinsta</title>
</head>
<body>
    <script>    
        function control(){
            user_id = document.getElementById("student_id").value
            var elem = document.getElementById("puzzle");
            elem.innerHTML = ""
            fetch("/getApi/"+user_id)
            .then(response => response.json())
            .then(data => sender(data));
        }

        function sender(data){
            output = document.getElementById("puzzle")
            data.map(each => output.innerHTML += `<p>${each.student_id} ${each.teacher_id} ${each.class_id} ${each.class_name} ${each.class_description}</p>` )
        }
    </script>
    <div id="logreg-forms" class="form">
        <form class="form-signin" >
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Student_Id</h1>
            <input type="text" name="Student_Id" class="form-control" id="student_id" placeholder="Student_Id" style="margin-bottom : 2em" />
            <button class="btn btn-success btn-block" type="button" id="click" onclick="control()" ><i class="fas fa-sign-in-alt"></i>Myclasses</button>
        </form>
        <div id="puzzle">

        </div>
    <div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>